body {
    margin: 0;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center; /* Horizontal center */
    align-items: center;     /* Vertical center */
    background-color: #f0f0f0;
}

.left-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
}

.emoji {
    position: fixed;
    top: -10%;
    animation: fall 4s linear forwards;
    pointer-events: none;
}

#slidingImage {
        position: absolute;
        bottom: -200px; /* Start off-screen */
        right: -200px;  /* Start off-screen */
        width: 150px;
        height: 150px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.3);
        transition: transform 1s ease-out;
    }

    /* Final position in the corner */
    #slidingImage.show {
        transform: translate(-200px, -200px);
    }

@keyframes fall {
    to {
        top: 110%;
        transform: rotate(var(--rot));
    }
}